<% if current_user %>
    <p>Welcome <%= current_user.name %>!</p>
    
    <div class="container-fluid"> 
      
      <div class="row">
          <% if @user_items.count < 1 %>
        <div class="text-center">
          <h4>Make your first to-do below</h4>
        </div>
      <% end %>
        <% @user_items.each do |item| %>
          <%= render partial: 'items/item', locals: { item: item } %>
        <% end %>
      </div>
      <div class="text-center">
          <%= render partial: 'items/form', locals: {item: Item.new } %>
      </div>
        <% else %>
           <%= render partial: "users/welcome" %>
        <% end %>