<br>
<div class="jumbotron">
  <h1>Bloccitoff</h1>
  <p>Bloccitoff, Your New To Do List</p>

</div>

<div class="row">
  <div class="col-md-4">
    <h2>Benefit 1</h2>
    <p>Highlight benefit</p>
  </div>
  <div class="col-md-4">
    <h2>Benefits 2</h2>
    <p>Highlight benefit</p>
  </div>
</div>