<br>
<div class="jumbotron">
  <h1>Bloccitoff</h1>
  <p>Your New To-Do List</p>
  <% unless current_user %>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
      <% end %>
   </div>

<div class="row">
  <div class="col-md-4">
    <h2>Task 1</h2>
    <p>Sign a new user up. Do you receive a confirmation email?

</p>
  </div>
  <div class="col-md-4">
    <h2>Task 2</h2>
    <p>What happens if you attempt to sign up with an invalid email?</p>
  </div>
  <div class="col-md-4">
    <h2>Task 3</h2>
    <p>What happens if you attempt to sign up with a duplicate email?</p>
  </div>
  <div class="col-md-4">
    <h2>Next Checkpoint</h2>
    <li>Sign into Blocitoff, does the top navigation change to indicate you are signed in?</li>
    <li>Sign out of Blocitoff, does the top navigation change to indicate you are signed out?</li>
    <li>What happens if you attempt to reset your password?</li></p>
  </div>
</div>