g<%= content_tag :div, class: 'item', id: "item-#{item.id}" do %>
  <div class="to-do-container"><h4 class="item-name"><%= item.name %></h4></div>
  <div class="align-right">
	  <%= link_to [item], method: :delete, class: 'align-right', remote: true do %>
	    <span class="glyphicon glyphicon-ok-sign"></span>
	  <% end %>
      <p class="align-right days-remaining"><%= item.days_left %> Days Remaining</p>
  </div>
<% end %>

