/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 .user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin-top: 5px;
 }

 .nav-row {
  height: 75px;
  width: 100%;
  background-color: #fff;
}

.brand-helper {
  text-decoration: none;
  color: #03c9a9;
  margin-top: 24px;
  font-family: 'Open Sans';
  font-weight: 900;
}

.brand-helper:hover {
  text-decoration: none;
  color: #03c9a9;
}

.access {
  font-family: 'Open Sans';
  float: right;
  margin-top: 20px;
}

.sign-in {
  color: #03c9a9;
}

.background-helper {
  background-color: #03c9a9;
  height: 1200px;
}

.inline {
  display: inline-block;
}