<div class="row nav-row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="inline">
      <%= link_to root_path, class: 'brand-helper' do %>
        <h3 class="brand-helper"><span class="glyphicon glyphicon-check"></span>Bloccitoff</h3>
      <% end %>
    </div>
    <div class="inline access">
      <h4 class="inline"><%= link_to 'Sign In', '#', class: 'sign-in'%></h4>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>